.feature {
    position: relative;
    overflow: hidden;
    border-top: 1rem solid var(--accent-color);
    padding: 8rem 0;
    background-color: #04111f;

    &::before {
        content: '';
        position: absolute;
        width: 32rem;
        height: 32rem;
        border-radius: 50%;
        left: 50%;
        top: 23rem;
        transform: translate(-50%, 0);
        background-color: #3d7fc683;
        filter: blur(10rem);

        @media screen and (max-width:767px) {
            top: 13rem;
        }
    }

    @media screen and (max-width:1200px) {
        padding: 6rem 0;
    }

    @media screen and (max-width:767px) {
        padding: 5rem 0;
        border-top-width: .7rem;
    }
}

.feature__title {
    position: relative;
    z-index: 1;
}

.feature__image {
    position: relative;
    z-index: 1;
    width: 50rem;
    display: block;
    margin: 0 auto;

    @media screen and (max-width:1200px) {
        width: 44rem;
    }

    @media screen and (max-width:767px) {
        width: 100%;
    }
}

.feature__list {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

.feature__item {
    width: calc((100% - 8rem) / 5);
    display: flex;
    align-items: center;
    flex-direction: column;

    &:nth-child(1) {
        margin-top: -25rem;

        @media screen and (max-width:1200px) {
            margin-top: -30rem;
        }

        @media screen and (max-width:767px) {
            margin-top: 0;
        }
    }

    &:nth-child(2) {
        margin-top: -10rem;

        @media screen and (max-width:1200px) {
            margin-top: -5rem;
        }

        @media screen and (max-width:767px) {
            margin-top: 0;
        }
    }

    &:nth-child(3) {
        @media screen and (max-width:1200px) {
            margin-top: -30rem;
        }

        @media screen and (max-width:767px) {
            margin-top: 0;
        }
    }

    &:nth-child(4) {
        margin-top: -10rem;

        @media screen and (max-width:1200px) {
            margin-top: -15rem;
        }

        @media screen and (max-width:767px) {
            margin-top: 0;
        }
    }

    &:nth-child(5) {
        margin-top: -25rem;

        @media screen and (max-width:1200px) {
            margin-top: -15rem;
            margin-left: auto;
        }

        @media screen and (max-width:767px) {
            margin-top: 0;
        }
    }

    @media screen and (max-width:1200px) {
        width: calc((100% - 4rem) / 3);
    }

    @media screen and (max-width:767px) {
        width: 100%;
    }
}

.feature__icon {
    margin-bottom: 1rem;
}

.feature__subtitle {
    text-align: center;
    width: 100%;
    border-top: .1rem solid;
    border-image: linear-gradient(to right, transparent, var(--accent-color), transparent) 1;
    padding-top: 1.5rem;

    font-size: 1.8rem;
    margin-bottom: 1rem;
    line-height: 1.4;

    span {
        color: var(--accent-color);
    }
}

.feature__desc {
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.4;
}

.feature__link_wrapper {
    text-align: center;
    margin-top: 5rem;

    @media screen and (max-width:767px) {
        margin-top: 3rem;
    }
}

.feature__link {
    color: #FFFFFF;
}